* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0e337a;
  --hover-color:#1955a5;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

body {
    overflow-x: hidden;
}

/* nav styling */

nav {
  background-color: var(--primary-color);
  width: 100vw;
  height: 150px;
  margin-top: 18px;
}

.wider{
    max-width: 1200px;
    margin: 0 auto;
}

.max-width {
  

  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.date {
  color: rgb(198, 198, 198);

  display: inline-block;
  font-size: 1rem;
  width: 100%;
  
  text-align: end;
}


/* links container */

.link-container{
    width: 100vw;
    
    padding: 30px 0;
    border-bottom: 1px solid rgb(124, 123, 123);
}

.links{
    height: 100%;
    display: flex;
    align-items: center;
    
}

.page-links{
    height: 100%;
    display: flex;
    width: 70%;
    align-items: center;
    gap: 1.7rem;

    

}

.page-links li a{
    font-size: 1.2rem;
    font-weight:600;
    transition: all ease-in-out 300ms;
    color: rgb(44, 44, 44);
}

.page-links li a:hover{
    color: var(--hover-color);
}

.unicode{
    width: 25%;
    height: 100%;

}

.unicode li a{
    color: gray;
}


/* hastag Container */

.hashtag-container{
    width: 100vw;
    
    box-shadow: 0 4px 4px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}

.hastags{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hastags li a{
    font-weight: 400;
    font-size: 1.2rem;
    
    padding:5px;
    transition: all linear 300ms;
}

.hastags li a:hover{
    background-color: rgba(6, 76, 240, 0.1);
    color: var(--primary-color);
}


/* hero sections */

.hero-section{
    width: 100vw;
    
    margin-top: 45px;
}

.make-flex{
    display: flex;
    
    justify-content: space-between;
}

.heading{
    width: 100%;
     
    border-bottom: 1px solid gray;
    
    
}

.title{
    background-color: #1955a5;
    width: fit-content;
    color: white;
    padding: 10px 0;
    padding-right: 65px;
    padding-left: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.big-screen{
    position: relative;
    width: 65%;
}

.big-screen::after{
    content: "";
    height: 52px;
    width: 100px;
    background-color: white;
    position: absolute;
    
    top: 0;
    left: 115px;
    transform: skewX(29deg);
}

.small-screen{
    width: 30%;
    
}
.small-screen-heading{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.thoughts{
    display: flex;
    gap: 1.1rem;
    align-items: center;
    cursor: pointer;
    transition: all linear 300ms;
}

.thoughts:hover{
    color: var(--hover-color);
}


.small-screen-heading i{
    font-size: 1.2rem;

}

.small-screen-heading h5{
    font-size: 1.2rem;
}

.small-screen-heading .line{
    height: 1px;
    width: 60%;
    background-color: black;
}

.news-images{
    margin-top: 1.6rem;
    
    
}

.big-image{
    width: 100%;
    height: 550px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.big-image:hover img{
    transform: scale(1.1);
    
}

.big-image img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transition: all ease-in-out 400ms;
}

.big-image-title{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 40px;
    bottom: 30px;
}
.big-image-title span{
    padding: 10px 20px;
    width: fit-content;
    background-color: var(--hover-color);
    color: white;
    font-size: 1.4rem;
}

.big-image-title h2{
    font-size: 2.7rem;
    text-align: left;
    color: white;
    line-height: 3.8rem;
}

.big-image-title p{
    color: rgb(164, 163, 163);
    font-size: 1.4rem;
    font-weight: 500;
}
.first-one-image{
    width: 250px;
    display: grid;
    row-gap: 18px;
}

.small-image-one{
    width: 250px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}





.small-image-one img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 300ms;
    
}

.small-image-one:hover img{
    transform: scale(1.1);

}

.small-image-one h4{
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    z-index: 10;
    bottom: 0px;
    left: 0px;
    padding:8px 0;
    padding-left: 10px;
    padding-right: 10px;

    
}

/* .small-image-one::after{
    content: "";
    bottom: 25px;
    z-index: 11;
    left: 143px;
    background-color: rgba(255, 255, 255, 0.5);

    position: absolute;
    height: 46px;
    width: 79px;
    transform: skewX(37deg)
} */

.first-one-image h4{
    font-size: 1.4rem;
    transition: all linear 300ms;
    cursor: pointer;
}
.first-one-image h4:hover{
    color: var(--hover-color);
}

.small-news-images{
    display: grid;
    margin: 1rem 0;
    column-gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}


.donald-trump{
    width: 100%;
    height: 200px;
    background-color: blue;
    margin-top: 30px;
}

.donald-trump img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.bhahubali{
    display: flex;
    margin-top: 20px;
    gap: 1rem;
    border-bottom: 1px solid rgb(175, 175, 175);
    padding-bottom: 1.3rem;
}
.bhahubali img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    
}

.info-div h5{
    font-size: 1.4rem;
    cursor: pointer;
}
.info-div p{
    font-size: 1rem;
    padding-top: 10px;
    color: var(--hover-color);
    cursor: pointer;
}

.first-ad{
    width: 100%;
    height: 200px;
}

.first-ad img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* karobar section */

.karobar-section{
    margin-top: 7rem;
    height: auto;
    width: 100%;
}

.karobar-screen{
    position: relative;
    width: 75%;
    
}


.karobar-screen::after{
    content: "";
    height: 52px;
    width: 100px;
    background-color: white;
    position: absolute;
    
    top: 0;
    left: 115px;
    transform: skewX(29deg);
}

.small-karobar-area{
    width: 35%;
    padding:2rem 0;

}
.karobar-area{
    display: flex; 
    justify-content: space-between;
}

.airways{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.airways img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center;

}

.airways h5{
    font-size: 1.4rem;
    padding-top: 10px;
}

.maw{
    margin-top: 1.3rem;
    border-top: 1px solid gray;
    padding-top: 16px;
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: .8rem;
}

.maw img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}

.maw h6{
    font-size: 1.3rem;
    text-align: left;
}

.big-karobar-area{
    width: 60%;
    padding: 2rem 0;
    
}

.share-badyo{
    width: 100%;
    height: 600px;
    
}

.share-badyo img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;

}

.share-badyo h5{
    font-size: 2.8rem;
    text-align: justify;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}
.share-badyo h5:hover{
    color: var(--hover-color);
}

.share-badyo p{
    font-size: 1.3rem;
    padding-top: 10px;
    color: var(--primary-color);
}

.gautam-buddha{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.aeroplane{
    width: 48%;
    height: 160px;
}

.aeroplane img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.aeroplane h4{
    font-size: 1.6rem;
    padding-top: 1.3rem;
}

.karobar-ad{
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* footer */
footer{
    margin-top: 4rem;
    width: 100vw;
    
    padding: 1rems;
    background-color: var(--hover-color);
}

.social-media{
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
}

.media{
    display: flex;
    align-items: center;
    gap: 18px;
}

.media i{
    padding: 1.1rem;
    background-color: rgba(109, 109, 255, 0.2);
    border-radius: 50%;
    font-size: 1.6rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.545);
    transition:all ease-in-out 300ms
}

.media i:hover{
    color:white;
}

.all-info{
    width: 100%;
   margin-top: 1rem;
   color: white;
    background-color: rgba(74, 74, 254, 0.307);
    
}

.make-wider{
    max-width: 1200px;
    margin:0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

.company-name{
    border-bottom: 1px solid white;
    padding-bottom:14px ;
    margin-bottom: 14px;
}

.for-advertisement{
    border-right: 1px solid white;
    border-left: 1px solid white;
    width: 35%;
    padding:0 30px;
}

.for-advertisement h5{
    border-bottom: 1px solid white;
    font-size: 1.8rem;
    padding-bottom: 19px;
    margin-bottom: 14px;
}

.for-advertisement p{
    font-size: 1.3rem;
    font-weight: 500;
}

.my-team{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.my-team h5{
    border-bottom: 1px solid white;
    font-size: 1.8rem;
    padding-bottom: 19px;

}

.my-team p{
    font-size:1.4rem;
    font-weight: 500;
}

/* responsivesness */
.ham-burger{
    display: none;
}
.closeNav{
    display: none;
    padding: 6px 8px;
    font-size:1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


/* mobile 360 * 640 to 414*816 */
/* tablet 601×962 to 1280×800 */
/* desktop 1280×720 to 1920×1080 */
@media only screen and (max-width:1286px) {
    
    .links{
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }

    
    .links .unicode{
        order: -1;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .res{
        width: 100vw;
        
    }
    .page-links{
        
        gap:1rem;
        font-size: 20px;
        flex-wrap: wrap;
    }
    
    
}


@media only screen and (max-width:600px) {
    .ham-burger{
        display: block;
        font-size: 1.5rem;
        color: gray;
        cursor: pointer;
    }

    

    .links .unicode{
        order: 0;
        gap: .5rem;
    }

    .links .unicode li a{
        font-size: .9rem;
    }

    .links{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 10px;
    }


    .img-container{
        width: 200px;
    }

    .img-container img{
        width: 100%;
    }

    .img-container .date{
        font-size:3vw;
        padding-top:10px
    }

    .links .slider{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px 13px 0 13px;
        transition: all linear 600ms;
        background-color: white;
        z-index: 15;
        
    }

    .closeNav{
        display: block;
        position: absolute;
        right: 15px;
    }

    .hastags{
        flex-wrap: wrap;
    }


    .make-flex{
        flex-direction: column;
        gap:2rem;
    }

    .big-screen{
        width: 100vw;
        padding:0 20px;
    }
    

    .big-image{
        width: 100%;
        height: auto;
        cursor: pointer;
        overflow: hidden;
        position: relative;
    }

    .big-image-title{
        gap:.6rem;
    }

    .big-image-title h2{
        font-size: 1rem;
        text-align: left;
        color: white;
        line-height: 1.5rem;
    }
    .big-image-title span{
        padding: 10px 20px;
        width: fit-content;
        background-color: var(--hover-color);
        color: white;
        font-size: 1.2rem;
    }

    .big-image-title p{
        color: rgb(164, 163, 163);
        font-size: 1rem;
        font-weight: 500;
    }

    .small-news-images{
        display: flex;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        overflow-x: auto;

        /* margin: 1rem auto;
        gap: 12px;

        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    }

    .small-screen{
        width: 100vw;
        padding: 0 20px;

    }

    .bhahubali{
        display: flex;
        margin-top: 60px;
        gap: 1rem;
        border-bottom: 1px solid rgb(175, 175, 175);
        padding-bottom: 1.3rem;
    }
    .first-one-image h4{
        font-size: 1.3rem;
    }



    .info-div h5{
        font-size: 1rem;
    }
}